.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    height: 301px;
    width: 100%;
    padding-top: 0px;
    padding: 30px;
}

.image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.desc {
    font-size: 18px;
}

.descriptions {
    display: flex;
    flex-direction: column;
    gap: 25px;
}