.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }
}


/*container*/


.title {
    max-width: 349px;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    position: relative;
    z-index: 1;
}

.title__wrapper {
    width: 349px;
    position: relative;
    z-index: 0;
}

.title__wrapper:before {
    content: "";
    width: 100%;
    height: 18px;
    background-color: #C8F1FD;
    position: absolute;
    z-index: 1;
    top: 11px;
    left: -10px;
}

.container.top {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

@media (max-width: 1200px) {
    .container.top {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}