.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }
}


/*container*/


.wrapper {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 250px 3fr 250px;
    margin-bottom: 123px;
    gap: 50px;
}

.labsList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.labsList:first-child {
    margin-top: 15px;
}

.labsList li {
    cursor: pointer;
    display: flex;
    gap: 11px;
    align-items: center;
}

.title {
    font-size: 24px;
    padding-bottom: 8px;
    margin-bottom: 30px;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: #C8F1FD;
    top: 100%;
    left: 0;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fileNotFound {
    font-weight: 300;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
}

.loadedFileInfo {
    width: 167px;
    height: 25px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 20px;
    margin-bottom: 10px;
}

.delete {
    cursor: pointer;
    height: 24px;
    border-left: 1px solid #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete img {
    transform: translateX(-1px);
}

.area {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    overflow: hidden;
}

.area p {
    font-size: 12px;
    font-weight: 200;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.date {
    font-weight: 200;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
}

.sent {
    margin-top: 27px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.sent p {
    font-weight: 500;
    font-size: 14px;
    color: #63C018;
}

.main {}

.lab {
    min-height: 600px;
    border: 1px solid black;
    margin-bottom: 65px;
}

.quiz {
    min-height: 600px;
    border: 1px solid black;
    padding: 50px;
}

.quiz__title {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 40px;
}