.subMenuWrapper {
    opacity: 0;
    transition: 0.2s;
}


.active {
    opacity: 1;
}


.navItem {
    cursor: pointer;
}


.navItem:hover {
    color: rgb(43, 43, 43);
}

.none {
    opacity: 0 !important;
}