.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }
}


/*container*/

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    padding-top: 16px;
}

.container__wrapper {
    background-color: #E3F8FE;
    position: relative;
    z-index: 2;
}

.nav ul {
    display: flex;
    gap: 30px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* /// */

.burger {
    width: 40px;
    height: 25px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-child(1) {
    top: 0px;
}

.burger span:nth-child(2),
.burger span:nth-child(3) {
    top: 12px;
}

.burger span:nth-child(4) {
    top: 24px;
}

.burger.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
}

.burger.open span:nth-child(2) {
    transform: rotate(45deg);
}

.burger.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.burger.open span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
}

.burgerMenu {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #E3F8FE;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 0px 16px 12px rgba(34, 60, 80, 0.1);
    transform: translateY(-100%);
    transition: 0.3s;
}

.burgerMenu .navMobile ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.burgerMenu .navMobile ul li a {
    font-size: 30px;
    border-bottom: 1px dashed black;
    padding-bottom: 3px;
}

.burgerMenu.open {
    transform: translateY(0px);
}

.buttonsMobile {
    margin-top: 35px;
}



/* media */

@media (max-width: 1200px) {
    .nav {
        display: none;
    }

    .buttons {
        display: none;
    }

    .burger {
        display: block;
    }

    .buttonsMobile {
        display: flex;
    }
}