.input {
    border: 1px solid black;
    height: 27px;
    max-width: 218px;
    padding: 3px 10px 3px 10px;
    box-sizing: border-box;
    font-family: inherit;
}

.input:focus {
    outline: none;
}