.container {
    display: grid;
    background-color: white;
    grid-template-columns: 50% 50%;
    box-shadow: 0px 0px 38px 15px rgba(34, 60, 80, 0.05);
}


.image,
.info {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    padding: 25px;
    border-right: none;
}

.title {
    font-size: 20px;
    font-weight: 300;
}

.info {
    justify-content: space-between;
    padding: 25px;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    align-self: flex-end;
}

.desc {
    margin-bottom: 23px;
    color: #9C9C9C;
}


.modal__container {
    padding: 80px;
    display: flex;
    flex-direction: column;
}

.modal__title {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 40px;
}

.modal__image {
    margin-left: 50%;
    transform: translateX(-50%);
}

.modalImageBlock {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.desc__name {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}

.descBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


@media (max-width: 590px) {
    /* .title {
        font-size: 16px;
    }

    .desc {
        font-size: 12px;
    } */

    .container {
        display: flex;
        flex-direction: column;
    }

    .image {
        border-right: 1px solid black;
        border-bottom: none;
    }

}


@media (max-width: 775px) {
    .modal__title {
        font-size: 22px;
    }

    .desc__name {
        font-size: 22px;
    }

    .modal__desc {
        font-size: 12px;
    }

    .modal__image {
        width: 250px;
    }
}